.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #333a64;
  height: 100vh;
}
.takmicar {
  display: flex;
  gap: 15px;
  color: #ffffff;
  align-items: center;
}
.takmicari {
  padding-top: 10px;
  gap: 70vw;
  display: flex;
}
.takmicar img {
  height: 50px;
}
.question {
  background-color: #7680bc8f;
  color: #ffffff;
  margin-top: 40px;
  font-size: 2rem;
  border-radius: 8px;
  height: 200px;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper2 {
  color: #ffffff;
  margin-top: 40px;
  border-radius: 8px;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.twoAns {
  display: flex;
  gap: 25vw;
  margin-top: 40px;
}
.answer {
  height: 10px;
  width: 30vw;
  border-radius: 15px;
  background-color: #ffffff;
}
