.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #333a64;
  height: 100vh;
}
.toptwo {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  gap: 10px;
}
.text {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7680bc8f;
  color: #fffcfc;
  font-size: 20px;
  border-radius: 8px;
  height: 40px;
  width: 300px;
}
.kod {
  background-color: #ffffff;
  font-size: 30px;
  border-radius: 8px;
  height: 40px;
  width: 300px;
}
.cekanje {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffb52cf0;
  color: #ffffff;
  font-size: 30px;
  border-radius: 8px;
  padding: 20px;
  height: 50px;
  width: 300px;
}
.cekanje:hover {
  transform: scale(1.01);
}
.loader {
  margin-top: 30px;
  margin-bottom: 100px;
}
